{% extends "base.html" %}
{% block content %}
    <h1 class="tally-h1">Reports</h1>
    <div class="tally-form">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.start_date.label }}
                <br>
                {{ form.start_date }}
                <br>
                    {% for error in form.start_date.errors %}
                        <span class="form_error">{{ error }}</span>
                    {% endfor %}
                <br>
                {{ form.end_date.label }}
                <br>
                {{ form.end_date }}
                <br>
                    {% for error in form.end_date.errors %}
                        <span class="form_error">{{ error }}</span>
                    {% endfor %}
                <br>
                {{ form.start_time.label }}
                <br>
                {{ form.start_time }}
                <br>
                    {% for error in form.start_time.errors %}
                        <span class="form_error">{{ error }}</span>
                    {% endfor %}
                <br>
                {{ form.end_time.label }}
                <br>
                {{ form.end_time }}
                <br>
                    {% for error in form.end_time.errors %}
                        <span class="form_error">{{ error }}</span>
                    {% endfor %}
                <br>
                {{ form.department.label}}
                <br>
                {{ form.department }}
                <br>
                    {% for error in form.department.errors %}
                        <span class="form_error">{{ error }}</span>
                    {% endfor %}
                <br>
                {{ form.q_type_report.label }}
                <br>
                {{ form.q_type_report }}
                <br>
                    {% for error in form.q_type_report.errors %}
                        <span class="form_error">{{ error }}</span>
                    {% endfor %}
                <br>
                {{ form.referral_type.label }}
                <br>
                {{ form.referral_type }}
                <br>
                    {% for error in form.referral_type.errors %}
                        <span class="form_error">{{ error }}</span>
                    {% endfor %}
                <br>
                {{ form.submit }}
            </p>
        </form>
    </div>
    {% if report %}
        <h2 class="tally-h2">Total Number of interactions: {{ total }}</h2>
        <a href="/download_csv" class="tally-button" id="export-csv">Export to CSV</a>
        <br>
        <table class="tally-table">
            <tr class="tally-header-row">
                <th class="tally-heading">Date</th>
                <th class="tally-heading">Time</th>
                <th class="tally-heading">Department</th>
                <th class="tally-heading">Interaction Type</th>
                <th class="tally-heading">Referral</th>
                <th class="tally-heading">Notes</th>
            </tr>
            {% for rp in report %}
                <tr class="tally-row">
                    <td class="tally-table-data">{{ rp.date }}</td>
                    <td class="tally-table-data">{{ rp.time }}</td>
                    {% if rp.department == '1' %}
                        <td class="tally-table-data">Information</td>
                    {% elif rp.department == '2' %}
                        <td class="tally-table-data">Youth</td>
                    {% else %}
                        <td class="tally-table-data">Unknown Department</td>
                    {% endif %}

                    <td class="tally-table-data">{{ rp.q_type }}</td>

                    {% if rp.referral == 1 %}
                        <td class="tally-table-data">Yes</td>
                    {% else %}
                        <td class="tally-table-data">No</td>
                    {% endif %}

                    <td class="tally-table-data">{{ rp.notes }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}