{% extends "base.html" %}

{% block content %}
    <h1 class="tally-h1">Youth Services</h1>
    <div class="tally-form">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.q_type.label }}
                <br>
                {{ form.q_type }}
                <br>
                {{ form.referral.label }}
                <br>
                {{ form.referral }}
                <br>
                {{ form.notes.label }}
                <br>
                {{ form.notes }}
                <br>
                {{ form.submit }}
            </p>
        </form>
    </div>
{% endblock %}